<main class="main">
  <h1>Bienvenido a Angular Standalone</h1>
  <h2> Segunda parte de ejercicios con Angular</h2>
  <br>
  <p>Ejercicio 1</p>
  <app-fecha-hora></app-fecha-hora>
  <br>
  <p>Ejercicio 2</p>
  <app-numero-aleatorio></app-numero-aleatorio>
  <br>
  <p>Ejercicio 3</p>
  <app-navegacion-historial>  </app-navegacion-historial>
  <br>
  <p>Ejercicio 4</p>
  <app-interaccion-ventana1> </app-interaccion-ventana1>
  <br>
  <p>Ejercicio 5</p>
  <app-interaccion-ventana2></app-interaccion-ventana2>
  <br>
  <p>Ejercicio 6</p>
  <app-manipulacion-cookies></app-manipulacion-cookies>

</main>
